/*Contenedor que va a ser flexbox*/
.advertsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #DFF6FF;
}
/*Contenedor de un solo anuncio que va a ser flexbox*/
.singleAdvert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width:35%;
    margin-top:1rem;
}
/*Título de la página*/
h1 {
    color: #051367;
    width: 100%;
    padding-left: 1rem;
}

/*Div de un error que contiene un párrafo y un botón*/
    .errorDiv2 p {
        margin-top: 0.2rem;
        color: black;
    }

    .errorDiv2 button {
        height:2rem;
        color: red;
        border: 2px solid red;
    }

        .errorDiv2 button:after {
            background: red;
        }
