.containerSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:1rem;
}

.containerSearch select{
    width:60%;
}
.containerSearch input {
    width: 59%;
}

    .containerSearch div {
        width: 20%;
    }


