/*Contenedor que va a ser flexbox*/
.Layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #DFF6FF;
}
/*Título de la página*/
h1 {
    color: #051367;
    width: 100%;
    padding-left: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

main p {
    width: 100%;
}